/* Gradient background in Indian flag colors */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #FF9933, #FFFFFF, #138808);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

/* White card */
.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
  width: 350px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.form-box button {
  width: 95%;
  padding: 12px;
  background: #138808;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form-box button:hover {
  background: #0b5d05;
}
